<md-dialog aria-label="Mango (Fruit)">
 <md-content class="md-padding">
  <form role="form" > 
			  <md-input-container>
			    <label for="city">City</label>
			    <input type="text" id="city" ng-model="p1.city"
			           md-autofocus>
			  </md-input-container>
			  <md-input-container>
			    <label for="place">Nearest Place</label>
			    <input type="text" id="place" ng-model="p1.place">
			  </md-input-container>
			  <md-input-container>
			    <label for="latitude">Latitude</label>
			   <input type="text" id="latitude" ng-model="p1.latitude">
			  </md-input-container>
			  <md-input-container>
			    <label for="longitude">Longitude</label>
			   <input type="text" id="longitude" ng-model="p1.longitude">
			  </md-input-container>
			 




<md-input-container >
        <label>Type</label>
        <md-select ng-model="p1.categories.lol">
          <md-option ng-repeat="img in images" value="{{img.catego}}">{{img.catego}}</md-option>
        </md-select>
      </md-input-container>


        
<md-button ng-click="answer(p1)" class="md-raised md-primary">Save</md-button>
			
         <md-button ng-click="cancel()"> Cancel 
          </md-button> 

     </form>
    </md-dialog></md-content>