<div ng-controller="MapCtrl" >
<md-toolbar class="transparent" ng-show="!showSearch">
    <div class="md-toolbar-tools" flex>
      <p><strong>maps</strong></p>
     <span flex></span>
<md-button ng-click="showSearch = true">
        <md-icon class="mdi mdi-magnify"></md-icon>
      </md-button>
    </div>
</md-toolbar>




 <md-toolbar class="md-hue-1" ng-show="showSearch">
        <div class="md-toolbar-tools">
          <md-button ng-click="showSearch = !showSearch" aria-label="Back">
            <img src="back.png" style="width:24px;height:24px;"/>
          </md-button>
          
         <md-input-container layout="row">
      <label><i>Place</i></label>
      <input type="text" ng-model="classifiedsFilter" />
    </md-input-container>

 <!--   <md-input-container>
      <label><i>Category</i></label>
      <md-select ng-model="category">
        <md-option ng-repeat="category in categories" value="{{ category }}">
          {{category}}
        </md-option>
      </md-select>
    </md-input-container> -->

    <md-input-container>
      <md-button class="md-warn" ng-click="classifiedsFilter=''; category=''; showFilters=false">
        Clear
      </md-button>
    </md-input-container>
          <md-button aria-label="Search" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
         
        </div>
       
      </md-toolbar>






<!--

 <md-toolbar>
      <div class="md-toolbar-tools">
         <p><strong>Map</strong></p>
     
    
<md-button ng-click="showFilters = true" >
        <md-icon class="mdi mdi-magnify"></md-icon>
        Filters
      </md-button>
        
      





 <span flex></span>



      
        <md-button class="md-icon-button" ng-click="showMenu = true; naviR() "   hide-gt-xs show-xs>
          
          <img src="menu.png" style="width:24px;height:24px;"/>
        </md-button>





      </div>



     </md-toolbar>



-->
<!-- this is right menu 

<md-sidenav  class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <md-toolbar>
      <h1 class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <div layout="column" layout-align="none">
<div>
<md-button ng-click="navi($event);cloR()">
        <md-icon class="mdi mdi-plus-circle"></md-icon>
        New Location
      </md-button>
</div>
<div>
     

          <div>  <md-button class="md-warn" ng-click="cloR()">Cancel</md-button></div>
            </div>
</md-sidenav>

-->































<!--
filter section

<div class="filters" layout-align="center center" ng-show="showFilters"  layout="row">
    <md-input-container layout="row">
      <label>Enter Search Term</label>
      <input type="text" ng-model="classifiedsFilter" />
    </md-input-container>

    <md-input-container>
      <label>Category</label>
      <md-select ng-model="category">
        <md-option ng-repeat="category in categories" value="{{ category }}">
          {{category}}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container>
      <md-button class="md-warn" ng-click="classifiedsFilter=''; category=''; showFilters=false">
        Clear
      </md-button>
    </md-input-container>
</div>
-->
<!--   floating button for adding-->
<md-button tabindex="0" ng-click="showAdd($event)" aria-label="Add" class="md-fab md-fab-bottom-right" style="background-color: white;">   
               <img src="plus.png" style="width:24px;height:24px;position:relative;margin-top: 17px;"/>
             <div style="" class="md-ripple-container"></div>
</md-button>
<!--

<div layout="coloumn">
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar>
      <h1 class="md-toolbar-tools">Add a classified</h1>
    </md-toolbar>

    <md-content layout-padding>
      <form>
        <md-input-container>
          <label for="title">Name</label>
          <input type="text" id="name" ng-model="p1.name"
                 md-autofocus>
        </md-input-container>
        <md-input-container>
          <label for="price">Latitude</label>
          <input type="text" id="latitude" ng-model="p1.latitude">
        </md-input-container>
        <md-input-container>
          <label for="description">Longitude</label>
          <textarea type="text" id="longitude" ng-model="p1.longitude"></textarea>
        </md-input-container>
        
 


<md-input-container >
        <label>Type</label>
        <md-select ng-model="p1.categories.lol">
          <md-option ng-repeat="img in images" value="{{img.categories}}">{{img.categories}}</md-option>
        </md-select>
      </md-input-container>
      


    
        <md-button ng-if="!value" ng-click="saveobjects1(p1)" class="md-primary">
          Save
        </md-button>
        <md-button ng-if="value" ng-click="finished()" class="md-primary">
          Save Edit
        </md-button>
        <md-button ng-click="clo()" class="md-warn">
          Cancel
        </md-button>
      </form>
    </md-content>
</md-sidenav> 
</div>
 
 above is side nav menu

 



<ng-map  default-style="true" center="{{add}}" >
<br/> City:<input ng-model="add" />



<marker position="current" animation="Animation.BOUNCE" centered="true"></marker>



     <marker id="foo" position="{{lat, lng}}"
        on-click="map.showInfoWindow(event, 'bar')">
     
      </marker>
      <info-window id="bar" max-width="200">
        <div ng-non-bindable>
          <div id="siteNotice"></div>
          <h1 >Uluru</h1>
          <div id="bodyContent">
            <p>
            <b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large
            sandstone rock formation in the southern part of the
            No
            </p>
           
          </div>
        </div>
      </info-window>



  <marker id="foo" position="-24.363882,135.044922"
        on-click="map.showInfoWindow(event, 'bar')">
      </marker>
      <info-window id="bar" max-width="200">
        <div ng-non-bindable>
          <div id="siteNotice"></div>
          <h1 >Uluru</h1>
          <div id="bodyContent">
            <p>
            <b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large
            sandstone rock formation in the southern part of the
            No
            </p>
           
          </div>
        </div>
      </info-window>



  <marker id="foo" position="25.363882,131.044922"
        on-click="map.showInfoWindow(event, 'bar')">
      </marker>
      <info-window id="bar" max-width="200">
        <div ng-non-bindable>
          <div id="siteNotice"></div>
          <h1 >Uluru</h1>
          <div id="bodyContent">
            <p>
            <b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large
            sandstone rock formation in the southern part of the
            No
            </p>
           
          </div>
        </div>
      </info-window>


default-style="false"ng-map {width:100%; height:100%;position: absolute;


    </ng-map>
    -->
    <ng-map  center="{{add}}" default-style="false" style=" width:100%; height:91%; position: absolute;" zoom="4" }
 zoom="2">
    <!-- <br/> City:<input ng-model="add" />  this is how we use search in map -->

    <marker position="current" animation="Animation.BOUNCE" centered="true"></marker>
        <div ng-repeat="p in points|
              filter: classifiedsFilter |
              filter: category" >
            <marker   position="{{p.latitude}}, {{p.longitude}}" ></marker>
        </div>
    </ng-map>
    </div>